{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu" }}

<div class="container" style="margin-top:60px;">
<div class="card border-primary">
  <h5 class="card-header bg-primary" style="color: white;">Visualizar Usuário {{ .UsuarioID }}</h5>
  <div class="card-body">
    <div class="row-fluid">
      <div class="col-4">
        <label><b>Nome:</b></label> {{ .UsuarioNome }}
      </div>
      <div class="col-4">
        <label><b>Login:</b></label> {{ .UsuarioLogin }}
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-4">
        <label><b>E-Mail:</b></label>  {{ .UsuarioEmail }}
      </div>
      <div class="col-4">
        <label><b>Senha:</b></label>  {{ .UsuarioSenha }}
      </div>
    </div>
    <div class="row-fluid">
      <a href="/edit?id={{ .UsuarioID }}" class="btn btn-primary">Editar</a>
      <a href="/delete?id={{ .UsuarioID }}" class="btn btn-danger">Deletar</a>
    </div>
  </div>
</div>
  {{ template "Footer" }}
</div>
{{ end }}